<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpcsa.jura.compon" >
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity android:name=".base.ComponBaseStartActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
